@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,700&display=swap");

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

.main {
  display: flex;
}

.background {
  background-image: url("./images/background-img.jpg");
  height: 100vh;
  width: 40%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.logo-container {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.65);
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: center;
  margin-bottom: auto;
  margin-top: 200px;
}

.logo-text {
  color: white;
  font-size: 60px;
}

.footer p {
  color: white;
  font-size: 18px;

  text-align: center;
}

.footer p a {
  text-decoration: underline;
  cursor: pointer;
  color: white;
}

.footer p a:visited {
  color: white;
}

.section-1 {
  /* min-width: 75%; */
  background-color: #faf9f6;

  padding-top: 100px;
  padding-bottom: 70px;
}

.section-2 {
  box-shadow: 0 12px 4px -4px #e0e0e0;
  padding-bottom: 70px;
}

.title {
  padding-right: 30px;
}

.title,
.subtext,
.form-title {
  /* margin-top: 100px; */
  padding-left: 55px;
  font-size: 32px;
}

form {
  display: flex;
  gap: 50px;
}

label {
  font-weight: bold;
}

input {
  height: 35px;
  width: 350px;
  text-indent: 10px;
  border: 1px solid gray;
  border-radius: 6px;
}

.col-1,
.col-2 {
  display: flex;
  flex-direction: column;

  padding-left: 55px;
}

.col-1 input,
.col-2 input {
  margin-bottom: 15px;
}

.section-3 {
  margin-top: 55px;
}

button {
  margin-left: 55px;
  background-color: #596d48;
  color: white;
  padding: 8px 18px;
  font-size: 24px;
  border-radius: 7px;
  border: none;
  cursor: pointer;
}

.section-3 h3 {
  padding-left: 55px;
}

.section-3 h3 a {
  color: #596d48;
  cursor: pointer;
}

.section-3 h3 a:visited {
  color: #596d48;
}

.focus:focus {
  border: 1px solid blue;
  outline: none;
}

.error:focus {
  border: 1px solid red;
  outline: none;
}
