@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,700&display=swap");

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

.main {
  display: flex;
}

.background {
  background-image: url("./images/background-img.jpg");
  height: 100vh;
  width: 40%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.logo-container {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.65);
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: center;
  margin-bottom: auto;
  margin-top: auto;
}

.logo-text {
  color: white;
  font-size: 60px;
}

.footer p {
  color: white;
  font-size: 18px;

  text-align: center;
}

.footer p a {
  text-decoration: underline;
  cursor: pointer;
  color: white;
}

.footer p a:visited {
  color: white;
}

.section-1 {
  /* min-width: 75%; */
  background-color: #faf9f6;

  padding-top: 100px;
  padding-bottom: 70px;
}

.title,
.subtext,
.form-title {
  /* margin-top: 100px; */
  padding-left: 55px;
  font-size: 32px;
}
